.NavLink{
    padding-left: 5px !important;
    text-transform: capitalize !important;
}
.NavLink:hover {
    color: #fff !important;
    background-color: #182233;
    padding-left: 5px;
    border-radius: 25%;
}


