@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

 #root {
  font-family: "poppins", sans-serif;
  background-color: #E3E1F5;
}
.active{
  color: #fff;
  border-radius: 25%;
  background-color: hsl(144 50% 70%);
}